:root {
    --color0: #635D8B; /* off white */
    --color1: #5DA9E9; /* light blue */
    --color2: #003F91; /* blue */
    --color3: #FFFFFF; /* white */
    --color4: #6D326D; /* accent */
}

html, body {
    margin: 0;
    height: 100vh;

    font-size: 2vh;
}

body {
    background-color: var(--color0);
}

#topbar {
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: fixed;
    font-size: 1.5em;
    background-color: var(--color2);
    box-shadow: 0 5px 2px #000;
}

#centerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    height: 100%;
}

.item {
    max-width: 50vw;
    width: 20em;
    text-align: center;
    margin: 2em;
}

.userBtn, .userInfo {
    width: 90%;
    margin: 0.7em 0;
    padding: 0.5em;
    font-size: 1.7em;
    color: var(--color3);
    border-radius: 10px;
    border: 0;
    box-shadow: 5px 5px 2px #000;
}

.userBtn {
    background-color: var(--color4);
    cursor: pointer;
}

.userInfo {
    border: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

#gameBtn {
    width: 90%;
    margin: 0.7em 0;
    padding: 0.5em;
    color: var(--color3);
    border-radius: 10px;
    border: 0;
    box-shadow: 5px 5px 2px #000;
    background-color: var(--color4);
}

#logo {
    width: 100%;
    height: auto;
}
