@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700|Work+Sans&display=swap');

:root {
    --color0: #635D8B; /* off white */
    --color1: #5DA9E9; /* light blue */
    --color2: #003F91; /* blue */
    --color3: #FFFFFF; /* white */
    --color4: #6D326D; /* accent */
}

#message:not(h2)) {
    color: var(--color3);
    font-size: 2em;
}

#sub {
    color: var(--color3);
    font-size: 2em;
}

#gameBtn {
    width: 70%;
    margin: 0.7em 0;
    padding: 1em;
    color: var(--color3);
    border-radius: 10px;
    border: 0;
    box-shadow: 5px 5px 2px #000;
    background-color: var(--color4);
}

.choices {
    color: var(--color4);
    margin: 1em;
}

#numRounds {
    background-color: var(--color2);
    color: var(--color3);
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 2px #000;
    padding: 1em;
}

.details {
    text-align: center;
}
