:root {
    --color0: #8DA7BE; /* pewter blue */
    --color1: #554640; /* dark horse */
    --color2: #CDE6F5; /* azureish white */
    --color3: #87919E; /* roman silver */
    --color4: #707078; /* nickel */
}

html, body {
    margin: 0;
    height: 100vh;
}

body {
    background-color: var(--color0);
}

#topbar {
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    font-size: 1.5em;
    border-bottom: 2px solid var(--color1);
}

#centerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.item {
    max-width: 50vw;
    width: 20em;
    text-align: center;
    margin: 2em;
}

.userBtn, .userInfo {
    width: 100%;
    margin: 0.7em 0;
    padding: 0.5em;
    font-size: 1.7em;
    color: var(--color2);
    border-radius: 10px;
}

.userBtn {
    background-color: var(--color3);
}

.userInfo {
    background-color: var(--color4);
}
