@import url('https://fonts.googleapis.com/css?family=Space+Mono|Work+Sans&display=swap');

:root {
    --color0: #8DA7BE; /* pewter blue */
    --color1: #554640; /* dark horse */
    --color2: #CDE6F5; /* azureish white */
    --color3: #87919E; /* roman silver */
    --color4: #707078; /* nickel */
}

h1 {
    font-family: 'Space Mono', sans-serif;
    color: var(--color1);
    margin: 0;
}

button {
    font-family: 'Work Sans', sans-serif;
}
