<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/text.css') }}">
        <script src="{{ url_for('static', filename='scripts/users.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <title>Create Game | Hackbox</title>
    </head>

    <body>
        <div id="topbar">
            <h1 id="uname">[Username]</h1>
            <h1>Hackbox</h1>
        </div>

        <div id="centerContent">
        <button onclick="createGame()">
<!--
            <h2>Enter your game ID:</h2>
            <form class="item">
                <input class="userBtn" id="gameidBtn"
                    type="submit" value="Submit" onclick="createGame()">
            </form> -->
        </div>
    </body>
</html>

