<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/text.css') }}">
        <script src="{{ url_for('static', filename='scripts/phone.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <title>Game | Hackbox</title>
    </head>

    <body onload="start()">

        <div id="container">
            <h1 id="message"></h1>
            <div id="userIn"></div>
        </div>

    </body>
</html>

