@import url('https://fonts.googleapis.com/css?family=Space+Mono|Work+Sans&display=swap');

:root {
    --color0: #E5F4E3; /* off white */
    --color1: #5DA9E9; /* light blue */
    --color2: #003F91; /* blue */
    --color3: #FFFFFF; /* white */
    --color4: #6D326D; /* accent */
}

h1 {
    font-family: 'Space Mono', sans-serif;
    color: var(--color3);
    margin: 0;
}

button {
    font-family: 'Work Sans', sans-serif;
}
