@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700|Work+Sans&display=swap');

:root {
    --color0: #635D8B; /* off white */
    --color1: #5DA9E9; /* light blue */
    --color2: #003F91; /* blue */
    --color3: #FFFFFF; /* white */
    --color4: #6D326D; /* accent */
}

h1 {
    font-family: 'Space Mono', sans-serif;
    color: var(--color3);
    margin: 0;
}

h2 {
    font-family: 'Space Mono Bold', sans-serif;
    color: var(--color1);
    margin: 1em 0;
    font-size: 2.3em;
}

p, button, .userBtn, .userInfo, .choices #gameBtn {
    font-family: 'Work Sans', sans-serif;
}

p {
    color: var(--color3);
    font-size: 1.5em;
}

#message, #sub {
    font-family: 'Work Sans', sans-serif;
}
